@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    font-family: "Roboto";
    background-color: #414144;

    --borderSize: 3px;
}

#menu{
    margin:0;
    height:150px;
    width: 100%;
    background-color: black;
    box-shadow: 0px 0px 8px black;
}

#welcome{
    margin:0;
    height:650px;
    width:100%;
    position: relative;
    text-align: center;
}

#stuff{
    margin:0;
    height:500px;
    width:100%;
    background-color: #212122;
    border-top: 5px solid #04D9B2;
}

#code-design{
    margin: 0 auto;
    top:40%;
    transform: translateY(-40%);
    font-size: 48px;
    font-weight:900;
    color:white;
    transform: scale(0);

    animation: main-load 700ms ease-in-out;
    animation-fill-mode: forwards;
}

#welcomeText{
    margin:0;
    top:30%;
    color:transparent;
    font-weight: 700;
    font-size: 24px;
    transform: translateY(0);

    animation: welcome-load 700ms ease-in-out;
    animation-fill-mode: forwards;
}

#read-more{
    top:50%;
    border: none;
    position: relative;
    background-color: transparent;
    color:white;
    font-size:24px;
    transition: 100ms ease-in-out;
    border: var(--borderSize) solid white;

    transform: translateX(-1000%);

    animation: read-load 700ms ease-in-out 1000ms;
    animation-fill-mode: forwards;
}


#read-more:hover{
    color:#04D9B2;
    border-color: #04D9B2;
}

button:hover{
    cursor:pointer;
}

.top-buttonL{
    border:none;
    background-color: transparent;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-left: 25px;
    color:white;
    font-size: 24px;

    animation: button-load 700ms ease-in-out;
    animation-fill-mode: forwards;
}
.top-buttonR{
    border:none;
    background-color: transparent;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-right: 25px;
    float:right;
    color:white;
    font-size: 24px;

    animation: button-load 700ms ease-in-out;
    animation-fill-mode: forwards;
}

.top-buttonL::before, .top-buttonR::before{
    content: '';
    position: absolute;
    border: var(--borderSize) solid transparent;
    left:0;
    right:0;
    top:0;
    bottom: 0;

    transition: 100ms ease-in-out;
}

.top-buttonL:hover::before, .top-buttonR:hover::before{
    left:calc(var(--borderSize) * -2);
    right:calc(var(--borderSize) * -2);
    top:calc(var(--borderSize) * -2);
    bottom:calc(var(--borderSize) * -2);

    border-color: white;
}

@keyframes welcome-load{
    0%{
        color:transparent;
        transform: translateY(-500%);
    }
    70%{
        transform: translateY(50%);
    }
    100%{
        color:white;
        transform: translateY(0);
    }
}

@keyframes main-load{
    0%{
        color:transparent;
    }
    100%{
        color:white;
        transform: scale(1);
    }
}

@keyframes read-load{
    0%{
        transform: translateX(-1000%);
    }
    70%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes button-load{
    0%{
        color:transparent;
    }
    100%{
        color:white;
    }
}

@media (max-width:700px){
    .top-buttonL, .top-buttonR{
        font-size: 14px;
    }
    #menu{
        height:75px;
    }
    #code-design{
        font-size: 26px;
    }
    #welcomeText{
        font-size: 13px;
    }
    #read-more{
        font-size:14px;
    }
}